News24RESTTweets/Service References/News24Svc/News24RESTService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9480/News24RESTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyRESTService" />
  <xs:element name="GetTweets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyRESTService" minOccurs="0" name="GetTweetsResult" nillable="true" type="q1:ArrayOfTweet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>